.header {
  display: flex;
  flex-direction: row;
  padding: 1em 3em;
  align-items: center;
  justify-content: center;
}
.header__title {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-right: auto;
}
.header__title--first {
  font-size: 3em;
}