.overlayCard {
  position: fixed;
  inset: 0px;
  background-color: var(--background);
  opacity: 0.8;
  z-index: 5;
  cursor: pointer;
}

.modalCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  inset: 15%;
  position: fixed;
  left: 30%;
  z-index: 10;
  width: 40%;
  background-color: var(--background);
  border: 1px solid var(--accent);
  border-radius: 10px;
  height: fit-content;
}
@media screen and (max-width: 1300px) {
  .modalCard {
    width: 60%;
    left: 20%;
  }
}
@media screen and (max-width: 700px) {
  .modalCard {
    width: 100%;
    left: 0%;
    inset: 0%;
    border-radius: 0px;
    border: none;
    height: 100%;
  }
}
.modalCard__close {
  padding: 1em;
  width: 95%;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 700px) {
  .modalCard__close {
    margin-bottom: 25%;
  }
}
.modalCard__close__button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  width: 2em;
  height: 2em;
  background-color: var(--accent);
}
.modalCard__close__button svg {
  width: 1.3em;
  height: 1.3em;
}
.modalCard__content__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.modalCard__content__header h2 {
  color: var(--accent);
}
.modalCard__content__header img {
  width: 50px;
}
.modalCard__content__text {
  height: 100%;
  font-size: 1.2em;
  padding: 2em 5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media screen and (max-width: 500px) {
  .modalCard__content__text {
    padding: 3em 1em;
  }
}