.pres {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-bottom: 15em;
}
.pres__hello {
  font-size: 10em;
  color: var(--text);
  opacity: 0.5;
}
.pres__identity {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
  font-size: 3em;
}
.pres__identity__one {
  color: var(--text);
}
.pres__exp {
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
}
.pres__exp--raw {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.pres__exp__one {
  color: var(--primary);
}
.pres__link {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.pres__link svg {
  font-size: 2em;
  color: var(--text);
}