.card {
  width: 360px;
  height: 200px;
  flex: 1 1 calc(33.33% - 20px);
  border-radius: 1em;
  background-color: var(--text-variant);
  border: 1px solid var(--text-variant);
  box-shadow: 0px -2px 8px 2px var(--text-variant);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
@media screen and (max-width: 1600px) {
  .card {
    max-width: 250px;
    max-height: 175px;
    gap: 1em;
  }
}
.card:hover {
  border: 1px solid var(--accent);
  box-shadow: 0px -2px 8px 2px var(--accent);
}
.card:hover .card__header__langage {
  color: var(--accent);
}
.card__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}
@media screen and (max-width: 1600px) {
  .card__header h2 {
    font-size: 1.5rem;
  }
}
.card__header__title {
  font-size: 2rem;
  color: var(--text);
}
.card__header__langage {
  font-size: 2rem;
}
.card__img {
  object-fit: scale-down;
  width: 150px;
  height: 150px;
}
@media screen and (max-width: 1600px) {
  .card__img {
    max-width: 100px;
    max-height: 100px;
  }
}