.contact {
    padding: 3em 5em 3em 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5em;
      & label {
        color: var(--primary);
        font-size: 1.4em;
      }
      & input,
      textarea {
        width: 80%;
        height: 3em;
        color: var(--text);
        font-size: 1.2em;
        padding: 1em;
        background-color: var(--background);
        border: 1px solid var(--text);
        border-radius: 5px;
        &:focus {
          outline: 2px solid var(--primary);
        }
      }
      & textarea {
        width: 80%;
        height: 8em;
      }
  
      & input[type="submit"] {
        margin-top: 1em;
        width: 30%;
        border-radius: 5px;
        color: var(--primary);
        &:hover {
          
          outline: 1px solid var(--accent);
          color: var(--accent);
        }
      }
    }
  }
  