.header {
    display: flex;
    flex-direction: row;
    padding: 1em 3em;
    align-items: center;
    justify-content: center;
    &__title {
        display: flex;
        flex-direction: row;
        gap: 1em;
        &--last {
            font-size: 2em;
        }

        &--first {
            font-size: 2em;
        }
        margin-right: auto;
    }
}