:root {
  --text: #04081b;
  --text-variant: rgba(76, 77, 81, 0.3);
  --background: #e2e3e9;
  --primary: #4d18af;
  --secondary: #efc8f5;
  --accent: #c31fe0;
  --linear-background: linear-gradient(
    to top,
    #efc8f5,
    #e6d0f6,
    #e1d8f4,
    #dfdef0,
    #e2e3e9
  );
}

:root[theme="dark"] {
  --text: #e4e8fb;
  --text-variant: rgba(228, 232, 251, 0.3);
  --background: #16171d;
  --primary: #8550e7;
  --secondary: #27062d;
  --accent: #c31fe0;
  --linear-background: linear-gradient(
    to top,
    #27062d,
    #1f0e2c,
    #191229,
    #161524,
    #16171d
  );
}

h1,
h2,
h3,
h4 {
  color: var(--primary);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 3em;
}

p,
li,
div,
a,
button,
svg {
  color: var(--text);
  text-decoration: none;
}

#root {
  background: var(--linear-background);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 2em 3em;
  flex: 1 1;
}

* {
  user-select: none;
}