.nav {
  top: 25%;
  right: 2em;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0.3em 0.3em;
  border-radius: 2em;
  box-shadow: 0px 0px 8px 6px var(--text-variant);
  border: 1px solid var(--text);
  @media screen and (max-width: 700px) {
    top: 7%;
    flex-direction: row;
    right: 0em;
    position: relative;
  }
  @media screen and (max-width: 1500px) {
    border-radius: 1.5em;
  }
  &__link {
    &:hover svg {
      color: var(--accent);
    }
    &.active svg {
      color: var(--primary);
      border-radius: 25px;
      padding: 5px;
      filter: drop-shadow(3px 2px 4px var(--primary));
    }
    & svg {
      color: var(--text);
      padding: 5px;
      font-size: 4em;
    }
    @media screen and (max-width: 1500px) {
      &.active svg {
        border-radius: 15px;
        padding: 5px;
      }
      & svg {
        padding: 5px;
        font-size: 3em;
      }
    }
    @media screen and (max-width: 700px) {
      font-size: 1em;
      &.active svg {
        border-radius: 15px;
        padding: 5px;
      }
      & svg {
        padding: 5px;
        font-size: 2em;
      }
    }
  }
}

.responsive-nav {
  @media screen and (max-width: 700px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3em 0em 0em 0em;
  }
}
