.nav {
  background-color: var(--text-variant);
  border-radius: 5em;
  top: 25%;
  right: 2em;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0.6em 0.5em;
  box-shadow: 0px 0dvh 8px 2px var(--text-variant);
  &__link {
    &.active svg {
      background-color: white;
      color: var(--accent);
      border-radius: 100%;
      padding: 5px;
    }
    & svg {
      color: white;
      padding: 5px;
      font-size: 4em;
    }
  }
}
